.container{
    display: grid;
    height: 500px;
    width: 1000px;
    background-color: blueviolet;
    border: 4px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-template-areas: "header header header header"
                          "main main . sidebar"
                         "footer footer footer footer";
    align-content: center;
    grid-auto-columns: 60px;

}

.item{
    background-color: brown;
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
    align-content: center;
    color: azure;
}