@media (max-width: 768px) {
    p {
        font-size: 25px;
    }
   
}

.box {
    width: 100%;
    height: 100px;
    background-color: rgb(59, 189, 240);
}

@media (min-width: 769px)  {
   .box {
       
        background-color: rgb(6, 187, 237);
    }
   
}



li{
    list-style: none;
}

nav ul{
    display: flex;
    justify-content: space-around;
    background-color: rgb(252, 152, 152);
    padding: 10px;
}

@media (orientation: landscape) {
    body {
        background-color: lightblue;
    }
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    padding: item;
}


.logo{
    color: #fff;
    font-size: 1.5rem;
}


.menu {
    display: none;
    flex-direction: column;
    background-color: blue;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 150px;
}

.menu a {
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.hamburger {
font-size: 2rem;
    color: violet;
    cursor: pointer;
    display: none;
}

@media(min-width: 768px) {
    .hamburger {
        display: block;
    }
    
    .menu {
        display: flex;
    }
}


/* display: none; */





