h2{
    color:aquamarine;
    background-color: brown;
    
}

.par{
    color: blueviolet;
   text-align: center;
   background-color: rgb(241, 149, 11);
}

/* em rem % smaller and larger */
#jk{
    color: antiquewhite;
}